@{
    ViewBag.Title = "About Me";
}

<div class="row about-introduction about-section">
    <h1>Introduction</h1>
    <p>
        My name is Johannes Qvarford, and I'm the lead programmer and co-founder of <a href="http://appgradera.nu">Appgradera</a>.
        I mainly program games, desktop application and websites with Unity, WPF and ASP.NET MVC, but I occasionally build HTML5 apps with Apache Cordova.
    </p>
</div>

<div class="row about-early-years about-section">
        <h1>Early years</h1>
        <img src="~/img/KaizoReturns.png"/>
        <img src="~/img/WaluigisTreasureHunt.png"/>
        <p>
            Ever since I was a child, I've always wanted to program computers.
            When one of my video games stopped working, I swore that when I grew up, I would never make buggy software (little did I know how hard that promise would be to keep).<br/>
        </p>
        <p>
            I first started writing code in junior high. Back then, I was making ROM hacks of Super Mario World, but I quickly realized that the level editor was very limiting.
            That's when I learned assembly for the SNES to program new enemies.
            I released demo versions for two rom hacks: Super Mario World: Kaizo Returns and Waluigi's Treasure Hunt.
        </p>
        <p>
            The patch for Waluigi's Treasure Hunt is available <a href="~/downloads/WaluigisTreasureHunt.ips">here</a>.
            In order to play through it, you will need a legal copy of a Super Mario World ROM and an SNES emulator like ZSNES.<br/>
            A playthrough of New Super Mario World: Kaizo Returns by AuthenticZac is available <a href="https://www.youtube.com/playlist?list=PL18DB9F871D181135">Here</a>.
        </p>
</div>

<div class="row about-education about-section">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>Education</h1>
        <h2>GTI - Gothenburg Technical Institute (2009-2012)</h2>
        <img src="~/img/Gti.jpg"/>
        <p>
            I began my education as a programmer at GTI, where I studied C++ programming, networking, electrical engineering and math among other subjects.
            I finished my program in 2012, with the highest grade in all but two subjects.
            During this time, I also competed in the national Programming Olympics for swedish high-school students, where I finished in <a href="~/downloads/Programmeringsolympiaden2012.pdf">16th place</a> in the year 2012.
        </p>
        <h2>HiS - University of Skövde (2012-2015)</h2>
        <img src="~/img/His.png"/>
        <p>
            In 2012, I attended HiS to become a video game programmer.
            3 years later, I finished my education with a degree of bachelor of science with a major in Computer Science.
            My thesis was about how well a chess AI could perform using Case-Based Reasoning. You can read more about it @Html.ProjectActionLink("Case-Based Reasoning")<br />
        </p>
        <p>
            During my time at the school, I participated in multiple game development projects.
            In my first year, I was the lead programmer for @Html.ProjectActionLink("Winter Dreams"), an isometric story-driven game about a princess trapped in a dream world.
            In the following year, I was again chosen as a lead programmer, this time for the game @(Html.ProjectActionLink("Lunch Lady Simulator")).
            It was also during this year when I co-founded Appgradera together with Alexander Karlsson.
        </p>
    </div>
</div>

<div class="row about-proffesional-career about-section">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>Professional Career</h1>
        <h2>Appgradera (2014-)</h2>
        <img src="~/img/Appgradera.png"/>
        <p>
            At Appgradera, my matain tasks include programming games in Unity, websites in ASP.NET MVC and apps in Cordova.
            I estimate the scope of programming aspects of our projects and schedule our tasks.
            As a co-founder of a small startup, I sometimes also perform other small tasks like helping with designing games/websites/apps
            and taking care of our accounting.
        </p>
        <p>
            Appgradera, also known as <em>Deedly Games</em> has released the following games:<br />
            <a href="http://deedlygames.com/trashmania.html">Trash Mania</a>: an arcade action game about collecting fallen trash. @*@Html.ProjectActionLink("Trash Mania", "Read More")*@<br />
            <a href="http://deedlygames.com/download/tinytrickytiles.html">Tiny Tricky Tiles</a>: an original puzzle game where you match colored tiles by pushing spare tiles onto the board. @*@Html.ProjectActionLink("Tiny Tricky Tiles", "Read More")*@
        </p>
        <p>
            Visit appgradera at <a href="http://appgradera.nu">appgradera.nu</a> or <a href="http://deedlygames.com">deedlygames.com</a>.
        </p>
    </div>
</div>

<div class="row"></div>