@{
    ViewBag.Title = "Om Mig";
}

<div class="row about-introduction about-section">
    <h1>Introduktion</h1>
    <p>
        Jag heter Johannes Qvarford, och jag är lead programmerare och delgrundare av <a href="http://appgradera.nu">Appgradera</a>.
        Jag programmerar mest spel, desktopprogram och hemsidor med Unity, WPF ohc ASP.NET MVC, och då och då bygger jag HTML5 appar med Apache Cordova.
    </p>
</div>

<div class="row about-early-years about-section">
        <h1>I början</h1>
        <img src="~/img/KaizoReturns.png"/>
        <img src="~/img/WaluigisTreasureHunt.png"/>
    <p>
        Ända sedan jag var liten har jag velat programmera.
        När ett av mina tv-spel slutade att fungera så lovade jag att inga av mina program skulle innehålla buggar (vad jag inte visstle vid det här laget var hur svårt detta löfte skulle vara att hålla).<br/>
    </p>
    <p>
        Jag började först programmera i högstadiet. På den tiden gjorde jag rom hack av Super Mario World, men kände mig snabbt begränsad av nivådesigningsprogrammet.
        Jag lärde mig därför assembly för SNES, så att jag kunde programmera nya fiender och förmågor.
        Jag släppte demoversioner av två rom hack: Super Mario World: Kaizo Returns och Walugi's Treasure Hunt.
    </p>
    <p>
        Patch:en för Waluigi's Treasure Hunt finns tillgänglig <a href="~/downloads/WaluigisTreasureHunt.ips">här</a>.
        För att kunna spela igenom det så behövs ett lagligt exemplar av ett Super Mario World ROM och en SNES emulator som ZSNES.<br/>
        New Super Mario World: Kaizo Returns har spelats igenom av AuthenticZac, och finns tillgänglig <a href="https://www.youtube.com/playlist?list=PL18DB9F871D181135">här</a>: 
    </p>
</div>

<div class="row about-education about-section">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>Utbildning</h1>
        <h2>GTI - Göteborgs Tekniska Institut (2009-2012)</h2>
        <img src="~/img/Gti.jpg"/>
        <p>
            I började min utbildning som programmerare på GTI, där jag studerade C++ programmering, nätverkshantering, ellära och matte med mera.
            Jag avsultade mitt program år 2012, med högsta betyg i allt utom två ämnen.
            Under min tid på GTI deltog jag i den nationella programmeringsolympiaden för svenska gymnasieelever där jag kom på delad <a href="~/downloads/Programmeringsolympiaden2012.pdf">16:e plats</a> år 2012.
        </p>
        <h2>HiS - Högskolan i Skövde (2012-2015)</h2>
        <img src="~/img/His.png"/>
        <p>
            År 2012-2015 så gick jag en högskoleutbildning på för att bli tv-spelsprogrammere.
            Jag avslutade min utbildning med en filosofie kandidatexamen i datalogi.
            Mitt @Html.ProjectActionLink("Case-Based Reasoning", "Examensarbete") handlade om hur väl en schack AI kunde prestera med hjälp av tekniken "Case-Based Reasoning".
        </p>
        <p>
            Medan jag läste på skolan så deltog jag i flera spelutvecklingsprojekt.
            Under mitt första år var jag lead programmerare för @Html.ProjectActionLink("Winter Dreams"), ett isometriskt berättelsedrivet spel om en princess fångad i en drömvärld.
            Följande år var jag åter igen lead programmerare, men den här gången för spelet @(Html.ProjectActionLink("Lunch Lady Simulator")).
            Det var även under det är året som jag grundare Appgradera tillsammans med Alexander Karlsson.
        </p>
    </div>
</div>

<div class="row about-proffesional-career about-section">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>Proffessionell Karriär</h1>
        <h2>Appgradera (2014-)</h2>
        <img src="~/img/Appgradera.png"/>
        <p>
            På Appgradera utför jag uppgifter som att programmera spel i Unity, hemsidor i ASP.NET MVC med AngularJS och appar i Cordova.
            Jag utvärderar utvecklingstiden av programmeringsrelaterade uppgifter, schemalägger dem, och delegerar dem.
            Som delgrundare av ett litet startup-företag utför jag ibland små uppgifter, som att hjälpa till med att designa spel/hemsidor/appar
            och att ta hand om vår ekonomi.
        </p>
        <p>
            Appgradera, även känt som <em>Deedly Games</em> har släppt följande spel:<br/>

            Appgradera, also known as <em>Deedly Games</em> has released the following games:<br/>
            <a href="http://deedlygames.com/trashmania.html">Trash Mania</a>: Ett arkadspel som handlar om att fånga skräp som folk tappar. @*@Html.ProjectActionLink("Trash Mania", "Läs Mer")*@<br/>
            <a href="http://deedlygames.com/download/tinytrickytiles.html">Tiny Tricky Tiles</a>: Ett orginellt pusselspel som går ut på att matcha färgade rutor genom att knuffa in nya rutor på brädet.@*@Html.ProjectActionLink("Tiny Tricky Tiles", "Läs Mer")*@
        </p>
        <p>
            Besök Appgradera på <a href="http://appgradera.nu">appgradera.nu</a> eller <a href="http://deedlygames.com">deedlygames.com</a>.
        </p>
    </div>
</div>

<div class="row"></div>