@{
    ViewBag.Title = "My Cv";
}

@section Styles {
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/css/cv.css">
}

<div class="download-links">
    <a href="~/downloads/Johannes Qvarford CV English.pdf">Download as pdf.</a>
</div>

<div class="cv">
    <div class="cv-header">
        <div class="contact-info">
            <h1 class="title">CV</h1>
            <p class="name">Johannes Qvarford</p>
            <p class="street">Käpplundavägen 9D</p>
            <p class="town">541 41 Skövde</p>
            <p class="phone"><a href="tel:+46762499852">+4676-249 98 52</a></p>
            <p class="mail">
                <a href="mailto:johannes.qvarford@gmail.com">johannes.qvarford@gmail.com</a>
            </p>
            <p class="website">@Html.ActionLink("johannesqvarford.com", "Index", "Home")</p>
        </div>
        <div class="picture">
            <img src="@Url.Content("~/img/Me2.jpg")" />
        </div>
    </div>

    <div class="cv-content">
        <div class="jobs">
            <h2>Jobs</h2>
            <div>
                <h3 class="job-company">Solutions Skövde AB, Skövde</h3>
                <h3 class="job-work-time">mar 2014 - dec 2017</h3>
                <p>
                    Co-founder of Solutions Skövde AB. Had the role of CTO and lead programmer.
                    Helped with programming in a lot of the projects and built a customer's technical infrastructure.
                </p>
                <p>
                    Developed products mostly include web apps developed with ASP.NET MVC on the backend and Angular/JQuery on the frontend.
                    I've deployed them to Azure, AWS and GCP.
                    I've also developed games with Unity from time to time.
                </p>
            </div>
        </div>

        <div class="education">
            <h2>Education</h2>
            <div>
                <h3 class="education-course">
                    Bachelor Degree in Dataology (120p), University of Skövde
                </h3>
                <h3 class="education-time">aug 2012 – jun 2015</h3>
                <p>
                    Game development - programming as main subject. Gave me a lot of practical knowledge,
                    especially during two large group projects as programmer lead. Read programming in C++/C#, database systems,
                    operating systems, assembly etc.
                </p>
            </div>
            <div>
                <h3 class="education-course">
                    Data technological program, Gothenburg's Technical Inistitution
                </h3>
                <h3 class="education-time">aug 2009 – jun 2012</h3>
                <p>
                    My high school program where I grew an interest in programming.
                    Read about programming in C++, local networks, computer communication and more.
                    Participated in the national programming Olympics 2012 for high school students, and ended up in 16th place.
                </p>
            </div>
        </div>

        <div class="programming-knowledge">

            <h2>
                Programming Knowledge and Skills
            </h2>
            <p>Really good skills: C#, F#, Java, C++, HTML5, CSS3, Javascript, T-SQL, MySQL, ASP.NET MVC, WPF, Cordova, JQuery, AngularJS, NUnit.</p>
            <p>Good skills: Objective-C, PHP, React, Vue, KnockoutJS.</p>
            <p>Has used and developed on Windows, OS X and Linux.</p>
            <p>Has deployed to Windows and Linux through Azure, AWS and GCP.</p>
        </div>

        <div class="languages">
            <h2>Language</h2>
            <ul>
                <li>Swedish, native language</li>
                <li>English, very good at writing, rather good at speaking</li>
            </ul>
        </div>

        <div class="references">
            <h2>References</h2>
            References are provided on request.
        </div>
    </div>
</div>