@{
    ViewBag.Title = "Mitt Cv";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/cv.css">
}

<div class="download-links">
    <a href="~/downloads/Johannes Qvarford CV.pdf">Ladda ner som pdf.</a>
</div>

<div class="cv">
    <div class="cv-header">
        <div class="contact-info">
            <h1 class="title">CV</h1>
            <p class="name">Johannes Qvarford</p>
            <p class="street">Käpplundavägen 9D</p>
            <p class="town">541 41 Skövde</p>
            <p class="phone"><a href="tel:+46762499852">+4676-249 98 52</a></p>
            <p class="mail">
                <a href="mailto:johannes.qvarford@gmail.com">johannes.qvarford@gmail.com</a>
            </p>
            <p class="website">@Html.ActionLink("johannesqvarford.com", "Index", "Home")</p>
        </div>
        <div class="picture">
            <img src="@Url.Content("~/img/Me2.jpg")" />
        </div>
    </div>

    <div class="cv-content">
        <div class="jobs">
            <h2>Anställningar</h2>
            <div>
                <h3 class="job-company">Solutions Skövde AB, Skövde</h3>
                <h3 class="job-work-time">mar 2014 - dec 2017</h3>
                <p>
                    Delgrundare av Solutions Skövde AB. Hade rollen som CTO och lead programmerare.
                    Hjälpte med programmering i många projekt och byggde en kunds tekniska infrastruktur.
                </p>
                <p>
                    Utvecklade mestadels web appar med ASP.NET MVC på backend:en och JQuery/Angular på frontend:en.
                    Jag har publiserat dem till Azure, AWS och GCP.
                    Jag har även utvecklat spel med Unity från gång till gång.
                </p>
            </div>
        </div>

        <div class="education">
            <h2>Utbildning</h2>
            <div>
                <h3 class="education-course">Kandidatexamen i Datalogi (120p), Högskolan i Skövde</h3>
                <h3 class="education-time">aug 2012 – jun 2015</h3>
                <p>
                    Spelutveckling – programmering som huvudområde. Gav mig många praktiska kunskaper,
                    speciellt under två stora grupprojekt som programmerar-lead. Läste programmering i C++/C#, databassystem,
                    operativsystem, assembly mm. Kom på första plats i en kurstävling som gick ut på att implementera listsortering i MIPS assembly.
                </p>
            </div>
            <div>
                <h3 class="education-course"> Datatekniska programmet, Göteborgs Tekniska Institut </h3>
                <h3 class="education-time">aug 2009 – jun 2012</h3>
                <p>
                    Mitt gymnasieprogram där jag fick intresse att lära mig programmering.
                    Läste bland annat programmering i C++, lokala nätverk och datorkommunikation.
                    Deltog i den nationella programmeringsolympiaden 2012 för gymnasieelever och kom på delad 16:e plats.
                </p>
            </div>
        </div>

        <div class="programming-knowledge">
            <h2>Programmeringskunskaper</h2>
            <p>Mycket goda kunskaper: C#, F#, Java, C++, HTML5, CSS3, Javascript, T-SQL, MySQL, ASP.NET MVC, WPF, Cordova, JQuery, AngularJS, NUnit.</p>
            <p>Goda kunskaper: Objective-C, PHP, React, Vue, KnockoutJS.</p>
            <p>Har använt och utvecklat på Windows, OS X och Linux.</p>
            <p>Har publiserat till Windows och Linux genom Azure, AWS och GCP.</p>
        </div>

        <div class="languages">
            <h2>Språk</h2>
            <ul>
                <li>Svenska, modersmål</li>
                <li>Engelska, mycket bra i skrift, ganska bra i tal</li>
            </ul>
        </div>

        <div class="references">
            <h2>Referenser</h2>
            Referenser lämnas på förfrågan.
        </div>
    </div>
</div>