@{
    ViewBag.Title = "Huvudsida";
}

<div class="jumbotron2">
    <h1>Välkommen</h1>
    <img src="~/img/Me2.jpg"/>
    <p>
        Syftet med denna sida är att presentera mig och min karriär som mjukvaruutvecklare.
        Flera av mina mjukvaruprojekt som jag har utvecklat genom tiderna finns uppradade här: som den här hemsidan till exempel!
        Den finns tillgänglig på <a href="https://github.com/johqva93/JohannesQvarford.Website">Github</a>.
        Ta gärna en titt och se dig omkring.
    </p>
</div>
<div class="row"></div>
