
div.about-section {
    -ms-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.about-section h1 {
    margin-top: 5px;
    margin-bottom: 10px;
}

.about-introduction {
    background-color: #1A1A59;
}

.about-early-years {
    background-color: #2D6E12;
}

.about-early-years img {
    float: left;
    width: 300px;
    height: 220px;
    margin: 10px;
}

.about-early-years p {
    clear: left;
}

.about-early-years-image {
    text-align: center;
    margin: 10px auto;
    width: 220px;
    height: 220px;
    -ms-background-size: 220px 220px;
    background-size: 220px 220px;
}

.about-education {
    background-color: chocolate;
}

.about-education img:nth-of-type(1) {
    width: 250px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.about-education img:nth-of-type(2) {
    width: 250px;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

.about-proffesional-career {
    background-color: #07516A;
}

.about-proffesional-career img {
    width: 50%;
    margin-bottom: 20px;
}