/* GENERAL */

body {
    padding-top: 30px;
    padding-bottom: 20px;
}

body {
    color: #FFF;
}

.body-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    color: #FFF;
    text-decoration: underline #FFF;
    font-weight: bold;
}

a:hover {
    color: #0A76C1;
}


.image-box {
    box-shadow: inset 0 0 20px #888888;
}

div.body-content {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: black;
}

body, html {
    height: 100%;
    padding-bottom: 50px;
}

.top {
    min-height: 100%;
}

div.container {
    min-height: 100%;
    padding-left: 0;
    padding-right: 0;
}

/* NAVBAR */

button.navbar-toggle {
    margin: 5px 20px 5px 5px;
    background-color: black; 
}

.navbar-inverse {
    background-color: white;
    border-width: 0px;
    padding-left: 0px;
}

.navbar-collapse {
    background-color: black;
}

.navbar-header, ul.nav li {
    background-color: black;
}

.dropdown-menu {
    padding: 1px;
    background-color: black;
}
 
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a:hover, .dropdown {
    color: #0A76C1;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a, .dropdown {
    color: white;
}



.navbar a {
    text-decoration: none;
}

/* FOOTER */

footer {
    background-color: black;
}

footer * {
    text-align: center;
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
}

/* HOME */

.jumbotron2 {
    background-color: white;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.jumbotron2 img {
    float: left;
    max-width: 200px;
    margin-right: 20px;
}

.jumbotron2 p {
    font-size: 24px;
}

.jumbotron2 a {
    color: black;
    text-decoration: underline #FFF;
    font-weight: bold;
}

.jumbotron2 a:hover {
    color: #0A76C1;
}

/* ABOUT */

div.about-section {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.about-section h1 {
    margin-top: 5px;
    margin-bottom: 10px;
}

.about-introduction {
    background-color: #1A1A59;
}

.about-early-years {
    background-color: #2D6E12;
}

.about-early-years img {
    float: left;
    width: 300px;
    height: 220px;
    margin: 10px;
}

.about-early-years img:nth-of-type(2) {
}

.about-early-years p {
    clear: left;
}

.about-early-years-image {
    text-align: center;
    margin: 10px auto;
    width: 220px;
    height: 220px;
    -ms-background-size: 220px 220px;
    background-size: 220px 220px;
}

.about-education {
    background-color: chocolate;
}

.about-education img:nth-of-type(1) {
    width: 250px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.about-education img:nth-of-type(2) {
    width: 250px;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

.about-proffesional-career {
    background-color: #07516A;
}

.about-proffesional-career img {
    width: 50%;
    margin-bottom: 20px;
}

/* PROJECTS */

.project, .project-abstract, .project-summary {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.project-summary-language, .project-summary-period, .project-summary-group {
    width: 30%;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

.project {
    background-color: #303D74;
}

.project-abstract {
    background-color: #0A76C1;
}

.project-summary {
    background-color: #9C344C;
    position: relative;
}